:root {
    --primary-color: #121F3D;
    --secundary-color: #f1732b;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #e4e4e4;
    background-image: radial-gradient( rgba(201, 201, 201, 0.1) 50%, transparent 50% );
    background-size: .8rem .8rem;
    background-repeat: repeat;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}
h1
{
    font-size: 4rem;
    font-weight: 700;
}
h2
{
    font-size: 3rem;
    font-weight: 700;
}
h3
{
    font-size: 2.5rem;
    font-weight: 700;
}
p, a, span, li
{
    font-size: 1.8rem;
    font-weight: 400;
}
small
{
    font-size: 1.2rem;
    font-weight: 400;
}
header {
    color: white;   
    background-color: var(--primary-color);
    padding: 3rem 0;    
}
header .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 85%;
    margin: 0 auto;
}
header .logo-container {
    display: flex;
    align-items: center;
}
header .nav-logo {
    position: static;
    top: 2rem;
    width: 4rem;
    height: 5rem;
    background-image: url(../img/Logo_INGYSA.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
}
header .nav-logo-words {
    margin-left: 1.5rem;
    letter-spacing: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
}
.menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
}
.nav {
    width: 100%;
    margin-top: 1.6rem;
    transition: linear 1s;
}
nav .nav-bar.show {
    display: block;
    list-style: none;
}
nav .nav-bar {
    display: none;
}
nav .nav-bar li a:hover {
    color: var(--secundary-color);
    border-bottom: .1rem var(--secundary-color) solid;
    transition: all .4s linear;
}
.nav .nav-bar a{
    display: block;
    font-size: 2rem;
    padding: .8rem 0;
    width: 100%;
    text-decoration: none;
    color: white;
    /* text-align: center; */
}
.footer {
    padding-bottom: .5rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;    
}
.footer .footer-container {
    width: 85%;
    margin: 0 auto;
    margin-top: 1rem;
}
footer .footer-container h3 {
    margin: 0 .5rem;
    color: white;
    border-bottom: var(--secundary-color) .15rem solid;
}
.footer p {
    margin: 1rem .5rem;
    color: rgb(182, 179, 179);
    text-align: justify;
}
.footer .footer-redes div {
    background-color: #fdfdfd78;
    width: 85%;
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: .5rem;
    padding: 1rem 0;
    padding-left: .5rem;
    display: flex;
    font-size: 1.6rem;
}
.footer .footer-redes div:hover {    
    background-color: #fdfdfdad;
    cursor: pointer;
}
.footer .footer-redes .footer-redes-fb {
    margin-top: 1rem;
}
.redes-logo {
    margin-left: .5rem;
    width: 2rem;
    height: 2rem;
}
.footer-redes a {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
}
.contact-list .contact-list-item {
    list-style: none;
    color: white;
    margin-top: 1rem;
    margin-left: 2rem;
}
.footer > div {
    margin-top: .5rem;
}
/* flex-direction: row;
justify-content: space-evenly; media:tablet o desktop */

/* ---------------------- *//* CSS del Index.css *//* ---------------------- */

.container-sections 
{
    width: 85%;
    margin: 0 auto;
    padding: 1rem 0;
}

/* ABOUT */
.about-container-text-1, .about-container-text-2
{
    border: .15rem solid rgb(173, 171, 171);
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #f3f2f2;
    box-shadow: 5px 6px 14px -3px rgba(125,121,125,1);
}

.container-2
{
    display: flex;
    flex-direction: column-reverse;
}

.about-container-text-1 p, .about-container-text-2 p
{
    text-align: justify;
}

.about-container-media-1 img, .about-container-media-2 img
{
    width: 100%;
    margin-bottom: 2rem;    
    border-radius: 1rem;
}

.container-1 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container  
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CONTACT */
.map-sa, .map-sb
{
    width: 100%;
    border-radius: 1rem;
}

.contact-sede-b > ul, .contact-sede-a > ul
{
    list-style: none;
    text-align: justify;
    margin: 1rem 0;
}

.contact-sede-b > h2, .contact-sede-a > h2
{
    text-align: center;
}

.contact-map-sede-a, .contact-map-sede-b
{
    margin: 2rem 0;
}

/* TEAM */
#team > p 
{
    margin: 1rem 0;
}

#team > h2, #team > p
{
    text-align: center;
}

.container-team-people
{
    display: block;
    flex-wrap: wrap;
}

.team-people
{
    display: inline-block;
    text-align: center;
    width: 49%;
    margin-bottom: 1rem;
}

.team-people img
{
    width: 80%;
    border-radius: 5rem;
}